@import url('reset.css');

/*-------------Menu---------------*/
.header{
    background: grey;
    padding: 15px 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header_container{
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.amelia_logo{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%)
}

.header_list{
    display: flex;
    gap: 40px;
    text-decoration: none;
    position: relative;
}

.header_list li{
    position: relative;
}


.header_list li a{
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    white-space: nowrap;
    padding: 10px 20px 10px 40px;
    display: block;
}

.one_more_list{
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 20px;
    display: none;
}

.one_more_list li {
    background: grey;
    top: 100%;
    left: 0;
}

.header_list li:hover .one_more_list{
    display: block;
}

.submenu{
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    width: 100%;
}

.submenu li {
    position: relative;
}

.submenu a{
    padding: 10px 20px;
    font-size: 16px;
    display: block;
}

.submenu li a{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.one_more_list li:hover .submenu{
    display: block;
}

.header_list > li:nth-child(1){
    display: block;
    background: grey url('../images/home.svg') no-repeat 10px / 20px 20px;
}

.header_list > li:nth-child(2){
    display: block;
    background: grey url('../images/galery.svg') no-repeat 10px / 20px 20px;
}

.header_list > li:nth-child(3){
    display: block;
    background: grey url('../images/arrow_down.svg') no-repeat right 10px / 20px 20px;
}

.icon_layouts{
    display: block;
    background: grey url('../images/arrow_left.svg') no-repeat 10px / 20px 20px;
}
