@import url('reset.css');

.hidden{
    display: none;
}

/*-------------Menu---------------*/
.header{
    background: grey;
    padding: 15px 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header_container{
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.amelia_logo{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%)
}

.header_list{
    display: flex;
    gap: 40px;
    text-decoration: none;
    position: relative;
    column-gap: 20px;
}

.header_list li{
    position: relative;
}


.header_list li a{
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    white-space: nowrap;
    padding: 10px 20px 10px 40px;
    display: block;
}

.one_more_list{
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 20px;
    opacity: 0;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header_list li:hover .one_more_list{
    opacity: 1;
}

.one_more_list li {
    background: grey;
    top: 100%;
    left: 0;
}

.one_more_list > li:last-child {
    display: flex;
}


.submenu{
    position: absolute;
    top: 0;
    right: 100%;
    opacity: 0;
    width: 100%;
}

.one_more_list li:hover .submenu{
    opacity: 1;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submenu a{
    padding: 10px 20px;
    font-size: 16px;
}

.submenu li a{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}


.header_list > li:nth-child(1) a{
    display: flex;
    gap: 10px;
}

.header_list > li:nth-child(2) a{
    display: flex;
    gap: 10px;
}

.header_list > li:nth-child(3)> a{
    padding: 10px 40px 10px 20px;
    display: flex;
    gap: 10px;
}

.icons{
    width: 25px;
    height: 25px;
}

